# Local .terraform directories
**/.terraform/*
**/*.terraplan
**/*.tfplan
**/*.tfstate
**/*.tfstate.*
**.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# lock files
*.terraform.lock.*

# secrets data
secrets.json
deployment.txt
auth.json